*{
    margin:0;
    
}
.header{
    background-image:url('../images/banner/banner2.png');
    background-position: center;
    background-repeat: no-repeat;
    width:1350px;
    height:700px;
}
.header .banner-title{
    font-family:'Work Sans';
    font-style:normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    color:#151414; 

}
.header .banner-description{
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color:#444343;
    margin:14px 0;

}
 .for-banner{
    text-align: right;
    padding:190px 180px 160px 0;
    

}
.btn-primary{
    width:130px;
    height:50px;
    color:#FFFFFF;
    background-color:orangered;
    border:none;
    line-height:20px;
    margin:14px 0;
}
.myfailure{
    display:flex;

}
.faillre-title{
    font-family:'Work Sans';
    font-style:normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color:#151414; 

}
.faillure-p{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin:15px  0;
}
label{
    line-height: 30px;
}
.faillure-description{
    margin-top: 300px;
    padding:30px
   
}
.plans{
    font-family: 'Work Sans';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    margin-top: 100px;
}
.plans-im{
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding:60px 110px 60px 110px;
    
}
.watch-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding: 50px;
}
.watch{
    background:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url('../images/watch.png');
    width: 1050px;
    height: 300px;
    margin-left: 150px;
}
.btn2{
    font-style: normal;
    width:130px;
    height:50px;
    color:orangered;
    background-color:white;
    border:none;
    line-height:20px;
    margin-left: 50px;
}
.future{
    display:flex;
    background-color: #151414;
    color: #FFFFFF;
    padding:100px 200px 100px 200px;
    justify-content: space-around;
}
.future-head{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.future-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin:20px 0;
}
.email-info{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0;
}
.icon{
    margin:10px;
}
.subs{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 20px;
}
.btn3{
    font-style: normal;
    width:130px;
    height:50px;
    color:orangered;
    background-color:white;
    border:none;
    line-height:20px;
    margin-top: 10px;

}
.email{
    margin-bottom:30px;
    background-color: #151414;

}











